<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BossDao">

    <select id="checkBossAcot" parameterType="pojo.Boss" resultType="Integer">
        select count(*) from tb_boss where bacot=#{bacot} and bpsd=#{bpsd}
    </select>

    <select id="getWaitersInfo" resultType="pojo.Waiter">
        select * from tb_waiter where wstatus=0;
    </select>

    <update id="authentiWaiter" parameterType="pojo.Waiter">
        update tb_waiter set wstatus=1 where wid=#{wid}
    </update>

</mapper>


