<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BossDao">

    <select id="checkBossAcot" parameterType="pojo.Boss" resultType="Integer">
        select count(*) from tb_boss where bacot=#{bacot} and bpsd=#{bpsd}
    </select>


</mapper>