<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ClientDao">

    <select id="checkClientAcot" parameterType="pojo.Client" resultType="Integer">
        select count(*) from tb_client where cacot=#{cacot} and cpsd=#{cpsd}
    </select>

    <select id="checkClientAcotRepeat" parameterType="pojo.Client" resultType="Integer">
        select count(*) from tb_client where cacot=#{cacot}
    </select>

    <insert id="registerClient" parameterType="pojo.Client">
        insert into tb_client (cacot,cpsd,cname) values(#{cacot},#{cpsd},#{cname})
    </insert>

    <select id="getMenuClass" resultType="pojo.MenuClass">
        select * from tb_class
    </select>

    <select id="getMenusByClass" resultType="pojo.Menu" parameterType="int">
        select * from tb_menu where mclass=#{mclass}
    </select>
</mapper>