<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ClientDao">

    <select id="checkClientAcot" parameterType="pojo.Client" resultType="Integer">
        select count(*) from tb_client where cacot=#{cacot} and cpsd=#{cpsd}
    </select>

    <select id="getClientInfo" parameterType="pojo.Client" resultType="pojo.Client">
        select * from tb_client where cacot=#{cacot}
    </select>

    <select id="checkClientAcotRepeat" parameterType="pojo.Client" resultType="Integer">
        select count(*) from tb_client where cacot=#{cacot}
    </select>

    <insert id="registerClient" parameterType="pojo.Client">
        insert into tb_client (cacot,cpsd,cname) values(#{cacot},#{cpsd},#{cname})
    </insert>

    <select id="getMenuClass" resultType="pojo.MenuClass">
        select * from tb_class
    </select>

    <select id="getMenusByClass" resultType="pojo.Menu" parameterType="int">
        select * from tb_menu where mclass=#{mclass}
    </select>

    <select id="getAllMenus" resultType="pojo.Menu">
        select * from tb_menu
    </select>

    <select id="getMenuNmeAPrice" parameterType="int" resultType="pojo.Menu">
        select mname,mprice from tb_menu where mid=#{mId}
    </select>

    <select id="getMenuAmot" resultType="int" parameterType="int">
        select mamot from tb_menu where mid=#{mId}
    </select>

    <select id="getMaxOid" resultType="int">
        select max(oId) from tb_order
    </select>

    <select id="getCidByAcot" resultType="int" parameterType="pojo.Client">
        select cId from tb_client where cacot=#{cacot}
    </select>

    <select id="getWaitersOnline" resultType="Integer">
        select wId from tb_waiter where wstatus=1
    </select>

    <insert id="generateOrder" parameterType="pojo.Order">
        insert into tb_order (oId,cId,wId,deskId,total,pay,status,odate)
           values (#{oId},#{cId},#{wId},#{deskId},#{total},#{pay},#{status},NOW())
    </insert>

    <insert id="generateOrderedMenu" parameterType="pojo.OrderedMenu">
        insert into tb_orderedmenu (oId,mId,omamot,deliver) values (#{oId},#{mId},#{omamot},#{deliver})
    </insert>

    <select id="getClientNameByCid" parameterType="int" resultType="String">
        select cname from tb_client where cId=#{cId}
    </select>

    <select id="getCurrentOrder" parameterType="int" resultType="pojo.Order">
        select * from tb_order where cId=#{cId} and status=0
    </select>

    <select id="getMenusByOid" parameterType="int" resultType="pojo.OrderCar">
        select a.mId,a.mname,b.omamot,a.mprice,b.deliver
	        from tb_menu as a LEFT JOIN tb_orderedmenu as b ON a.mid=b.mid
		        where b.oid=#{oId}
    </select>

</mapper>