<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.WaiterDao">


    <select id="checkWaiterAcot" parameterType="pojo.Waiter" resultType="Integer">
        select count(*) from tb_waiter where wacot=#{wacot} and wpsd=#{wpsd} and wstatus!=0
    </select>

    <update id="updateStatus" parameterType="pojo.Waiter">
        update tb_waiter set wstatus = 2 where wacot=#{wacot} ;
    </update>

    <select id="checkWaiterAcotRepeat" parameterType="pojo.Waiter" resultType="Integer">
        select count(*) from tb_waiter where wacot=#{wacot}
    </select>

    <insert id="registerWaiter" parameterType="pojo.Waiter">
         insert into tb_waiter (wacot,wpsd,wname) values(#{wacot},#{wpsd},#{wname})
    </insert>

    <select id="getOrdersByWid" parameterType="int" resultType="pojo.Order">
        select * from tb_order where wId=#{wId} and status=0
    </select>

    <select id="getWaterInfo" resultType="pojo.Waiter" parameterType="pojo.Waiter">
        select * from tb_waiter where wacot=#{wacot}
    </select>

    <select id="getMenusByOid" parameterType="int" resultType="pojo.OrderCar">
        select a.mId,a.mname,b.omamot,a.mprice,b.deliver
	        from tb_menu as a LEFT JOIN tb_orderedmenu as b ON a.mid=b.mid
		        where b.oid=#{oId}
    </select>

    <update id="servedishes" parameterType="pojo.OrderedMenu">
        update tb_orderedmenu set deliver=1 where oid=#{oId} and mid=#{mId}
    </update>

    <select id="checkOrderedMenu" parameterType="int" resultType="Integer">
        select count(*) from tb_orderedmenu where oid=#{oId} and deliver=0
    </select>

    <update id="updateOrderStatus" parameterType="int">
        update tb_order set status=1 where oid=#{oId}
    </update>

    <update id="waiterlogout" parameterType="int">
        update tb_waiter set status=1 where wid=#{wId}
    </update>
</mapper>